html {
  background-color: grey;
}
p {
  color: black;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
}
h1 {
  color: black;
  font-size: 30px
  font-family: Helvetica;
  text-align: center;
}
button {
  height: 70px;
  width: 250px;
  margin: 10px;
  vertical-align: top;
  
  font-family: Helvetica;
  font-size: 16px;
  color: black;
  font-weight: bold;
  
  background: darkgrey;
  border: 5px solid black;
}
.header {
  display: flex;
  background-color: darkgrey;
  height: 90px;
}
